################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ahhsiid/bin/
/ahhsiid/obj/
*.user
.dockerignore